.box {
    width: 300px;
    margin: 0 auto;
}
.inputBox {
    position: relative;
}
.inputUser {
    width: 100%;
    padding: 10px 0;
    margin-bottom: 10px;
}
.labelinput {
    position: absolute;
    top: 10px;
    left: 0;
    transition: 0.5s;
}